In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
taxi_data = pd.read_csv("taxi_trip_pricing.csv")

# Load the dataset 
# check if the dataset has null values or not 
#

In [3]:
taxi_data.head()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180

In [9]:
taxi_data.isnull().sum()

Trip_Distance_km         0
Time_of_Day              0
Day_of_Week              0
Passenger_Count          0
Traffic_Conditions       0
Weather                  0
Base_Fare                0
Per_Km_Rate              0
Per_Minute_Rate          0
Trip_Duration_Minutes    0
Trip_Price               0
dtype: int64

In [8]:
taxi_data.dropna(inplace=True)

In [10]:
taxi_data.head()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
5,8.64,Afternoon,Weekend,2.0,Medium,Clear,2.55,1.71,0.48,89.33,60.2028
12,41.79,Night,Weekend,3.0,High,Clear,4.60,1.77,0.11,86.95,88.1328
14,9.91,Evening,Weekday,2.0,High,Clear,2.32,1.26,0.34,41.72,28.9914

In [17]:
taxi_data['Time_of_Day'].unique()

array([2, 1, 0, 3])

In [11]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [13]:
taxi_data["Time_of_Day"] = encoder.fit_transform(taxi_data["Time_of_Day"])

In [ ]:
for col in taxi_data.select_dtypes("object"):

    Day_of_Week Traffic_Conditions Weather
0       Weekday                Low   Clear
2       Weekend               High   Clear
5       Weekend             Medium   Clear
12      Weekend               High   Clear
14      Weekday               High   Clear
..          ...                ...     ...
990     Weekday                Low   Clear
992     Weekday             Medium   Clear
994     Weekday             Medium   Clear
995     Weekend             Medium   Clear
998     Weekday                Low   Clear

[562 rows x 3 columns]

 make a for loop 

 select object type
 
transform the object type data to int using label encoder

In [14]:
taxi_data.head()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,2,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
2,36.87,1,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
5,8.64,0,Weekend,2.0,Medium,Clear,2.55,1.71,0.48,89.33,60.2028
12,41.79,3,Weekend,3.0,High,Clear,4.60,1.77,0.11,86.95,88.1328
14,9.91,1,Weekday,2.0,High,Clear,2.32,1.26,0.34,41.72,28.9914